html {
  font-family: "Manrope", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.basePadding {
  padding: 0 10.938vw;
}

.morePadding {
  padding-left: 7.813vw;
}

.marginFromCenter {
  margin-left: 6.25vw;
}

h1,
h2,
h3,
h4,
h5,
a {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  color: #141414;
  margin: 0;
}

h1 {
  font-weight: 500;
  font-size: 3.75vw; /* 60 px */
  line-height: 4.612vw; /* 73.792 px */
}

h2 {
  font-size: 3.75vw; /* 60 px */
  line-height: 4.541vw; /* 72.66 px */
}

h3 {
  font-size: 3.375vw; /* 60 px */
  line-height: 4.151vw; /* 66.416 px */
}

h4 {
  font-size: 3.375vw; /* 60 px */
  line-height: 4.087vw; /* 65.39 px */
}

h5 {
  font-size: 2.25vw; /* 36px */
  line-height: 2.768vw; /* 44.28px */
}

p {
  font-weight: 400;
  margin: 0;
  color: #333333;
}

p.text {
  font-size: 20px;
  line-height: 30px;
}

/* БРЕЙКПОИНТЫ */
/* БРЕЙКПОИНТЫ */
/* БРЕЙКПОИНТЫ */

@media (max-width: 1024px) {
  .basePadding {
    padding: 0 30px; /* 30px */
  }

  .morePadding {
    padding-left: 6.836vw; /* 70px */
  }

  .marginFromCenter {
    margin-left: 4.883vw;
  }

  p.text {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (max-width: 640px) {
  h1 {
    font-weight: 500;
    font-size: 5.625vw; /* 36 px */
    line-height: 6.919vw; /* 44.28 px */
  }

  h3 {
    font-size: 4.375vw; /* 28 px */
    line-height: 5.381vw; /* 34.44 px */
  }

  h5 {
    font-size: 4.375vw; /* 28px */
    line-height: 5.381vw; /* 34.44px */
  }

  .basePadding {
    padding: 0 15px; /* 30px */
  }

  .morePadding {
    padding-left: 0; /* 70px */
  }

  .marginFromCenter {
    margin-left: 0;
  }

  p.text {
    font-size: 16px;
    line-height: 24px;
  }
}
