html {
  font-family: "Manrope", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.basePadding {
  padding: 0 10.938vw;
}

.morePadding {
  padding-left: 7.813vw;
}

.marginFromCenter {
  margin-left: 6.25vw;
}

h1,
h2,
h3,
h4,
h5,
a {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  color: #141414;
  margin: 0;
}

h1 {
  font-weight: 500;
  font-size: 60px; /* 60 px */
  line-height: 73.792px; /* 73.792 px */
}

h2 {
  font-size: 60px; /* 60 px */
  line-height: 72.66px; /* 72.66 px */
}

h3 {
  font-size: 3.375vw; /* 60 px */
  line-height: 1; /* 66.416 px */
}

h4 {
  font-size: 60px; /* 60 px */
  line-height: 65.39px; /* 65.39 px */
}

h5 {
  font-size: 36px; /* 36px */
  line-height: 44.28px; /* 44.28px */
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none !important;
  -webkit-border-radius: 0;
  border-radius: 0;
}

p {
  font-weight: 400;
  margin: 0;
  color: #333333;
}

p.text {
  font-size: 20px;
  line-height: 30px;
}

li.ellipseButton {
  transform: translate(0px, 0px);
  opacity: 1;
  visibility: inherit;
  margin-right: 0;
  margin-left: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

li.ellipseButton:hover {
  color: #9389d2;
}

li.ellipseButton::before {
  content: "";
  border: 1px solid #141414;
  left: 50%;
  height: 2.4rem;
  position: absolute;
  width: 120%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  top: 50%;
  transition: 0.3s ease-in-out;
}

li:focus-visible {
  outline: none;
}

li.ellipseButton:hover::before {
  border-color: #9389d2;
}

/* БРЕЙКПОИНТЫ */
/* БРЕЙКПОИНТЫ */
/* БРЕЙКПОИНТЫ */

@media (max-width: 1100px) {
  h1 {
    font-size: 48px;
    line-height: 58px;
  }

  h2 {
    font-size: 48px;
    line-height: 58px;
  }

  h3 {
    font-size: 36px; /* 28 px */
    line-height: 44.28px; /* 34.44 px */
  }

  .basePadding {
    padding: 0 30px; /* 30px */
  }

  .morePadding {
    padding-left: 6.836vw; /* 70px */
  }

  .marginFromCenter {
    margin-left: 4.883vw;
  }

  p.text {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (max-width: 800px) {
  h1 {
    font-weight: 500;
    font-size: 36px; /* 36 px */
    line-height: 44.28px; /* 44.28 px */
  }

  h2 {
    font-size: 36px; /* 36 px */
    line-height: 43.6px; /* 43.6 px */
  }

  h3 {
    font-size: 28px; /* 28 px */
    line-height: 34.44px; /* 34.44 px */
  }

  h5 {
    font-size: 28px; /* 28px */
    line-height: 34.44px; /* 34.44px */
  }

  .basePadding {
    padding: 0 15px;
  }

  .morePadding {
    padding-left: 0;
  }

  .marginFromCenter {
    margin-left: 0;
  }

  p.text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-weight: 500;
    font-size: 36px; /* 36 px */
    line-height: 44.28px; /* 44.28 px */
  }

  h2 {
    font-size: 36px; /* 36 px */
    line-height: 43.6px; /* 43.6 px */
  }

  h3 {
    font-size: 28px; /* 28 px */
    line-height: 34.44px; /* 34.44 px */
  }

  h5 {
    font-size: 20px; /* 20px */
    line-height: 24.6px; /* 24.6px */
    font-weight: 600;
  }

  .basePadding {
    padding: 0 15px;
  }

  .morePadding {
    padding-left: 0;
  }

  .marginFromCenter {
    margin-left: 0;
  }

  p.text {
    font-size: 16px;
    line-height: 24px;
  }
}
